<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>

<a href="/board/insertForm">글쓰기로 이동</a>
<br>
<br>

<table border="1">
    <tr>
        <td>번호</td>
        <td>작성자</td>
        <td>내용</td>
        <td>날짜</td>
        <td>삭제</td>
    </tr>

<%
 	 var mm = c[0].rownum/5;
 	 var dd = c[0].rownum%5;
 	 if(dd!=0){
 	 mm+=1;
 	 }
     for(var i=0; i<b.length; i++)
     {
        var oneItem = b[i];
      
%>
    <tr>
        <td><%=oneItem.no%></td>
        <td><%=oneItem.name%></td>
        <td><a href="/board/updateForm/<%=oneItem.no%>"><%=oneItem.content%></a></td>
        <td><%=oneItem.date%></td>
       
        <td><a href="/board/delete/<%=oneItem.no%>">삭제</a></td>
        
    </tr>

<%
     }
     for(var a=1;a<=mm;a++){%>
     <a href="/board/list/<%=a %>"><%=a %></a>
     <%
     
     }
%>
</table>


</body>
</html>
