<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>

<a href="/board/insert">글쓰기로 이동</a>
<br>
<br>

<table border="1">
    <tr>
         <td>번호</td>
        <td>작성자</td>
        <td>내용</td>
        <td>날짜</td>
    </tr>

<%
     
        var oneItem = rows[0];
%>
	
    <tr>
    <form action="/board/update" method='post'>
    <input type="hidden" name="no" value=<%=oneItem.no%> />
        <td><%=oneItem.name%></td>
        <td><input type="text" name="content"/></td>
        <td><%=oneItem.date%></td>
        <td><%=oneItem.no%></td>
         <input type="submit" value="수정"/>
	</form>
    </tr>
   

</table>

</body>
</html>
