<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="Coderthemes">
	    <link rel="shortcut icon" href="images/favicon.ico">

	    <title>Velonic - Bootstrap Admin theme</title>

	    <!-- Google-Fonts -->
	    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>
	    <link href='http://fonts.googleapis.com/css?family=Cuprum:400,700' rel='stylesheet' type='text/css'>

	    <!-- Bootstrap core CSS -->
	    <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
	    <link href="stylesheets/css/bootstrap-reset.css" rel="stylesheet">
	    <link href="stylesheets/css/font-awesome.min.css" rel="stylesheet">
	    <!-- Custom styles for this template -->
	    <link href="stylesheets/css/style.css" rel="stylesheet">
    </head>



	<body>

		<header>
			<section class="hero">
				<div class="container">
					<div class="row nav-wrapper">
						<nav class="navbar navbar-custom">
						    <div class="container-fluid">
							    <!-- Brand and toggle get grouped for better mobile display -->
							    <div class="navbar-header">
							        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								        <span class="sr-only">Toggle navigation</span>
								        <span class="icon-bar"></span>
								        <span class="icon-bar"></span>
								        <span class="icon-bar"></span>
							        </button>
							        <a class="navbar-brand" href="#"><img src="images/logo.png" alt="logo"></a>
							    </div>

							    <!-- Collect the nav links, forms, and other content for toggling -->
							    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							        <ul class="nav navbar-nav navbar-right">
								      	<li><a href="#how">How it works</a></li>
								        <li><a href="#features">Features</a></li>
										<li><a href="#pricing">Pricing</a></li>
										<li><a href="#clients">Clients</a></li>
										<li><a href="#">Log In</a></li>
										<li><a href="#" class="btn-signup btn-primary">Sign Up</a></li>
							        </ul>
							    </div><!-- /.navbar-collapse -->
							</div><!-- /.container-fluid -->
						</nav> <!-- end nav -->
					</div> <!-- End row -->

					<div class="row hero-content text-center">
						<h1 class="">Velonic - Responsive Admin Dashboard </h1>
						<div id="macbook">
					        <div id="tour" class="carousel slide" data-ride="carousel">
					            
					            <!-- Indicators -->
								<ol class="carousel-indicators">
								    <li data-target="#tour" data-slide-to="0" class="active"></li>
								    <li data-target="#tour" data-slide-to="1"></li>
								    <li data-target="#tour" data-slide-to="2"></li>
								</ol>

					            <div class="carousel-inner">
					            	<!-- slide item -->
					                <div class="item active">
					                    <img src="images/stock1.jpg" alt="slide-img">
					                </div>
					                <!-- slide item -->
						            <div class="item">
						                <img src="images/stock2.jpg" alt="slide-img">
						            </div>
						            <!-- slide item -->
						            <div class="item">
						                <img src="images/stock3.jpg" alt="slide-img">
						            </div>
					            </div> <!-- /.carousel-inner -->

					        </div> <!-- /#tour -->
					    </div>
					</div>
				</div> <!-- end container -->
			</section> <!-- end hero -->
		</header>




		<section class="section features" id="how">
			<div class="container text-center">

				<div class="row">
					<div class="col-sm-12">
						<h2 class="title">How It Works ?</h2>
						<p class="slogan">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
					</div>
				</div> <!-- End row -->

				<div class="row pt80">
		            <div class="col-sm-4">
		                <div class="features-2">
		                    <img src="images/drawing-tablet.png" alt="">
		                </div>
		                <div>
			                <h3>Responsive Design</h3>
			                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		                </div>
		            </div> <!-- end col -->

		            <div class="col-sm-4">
		                <div class="features-2">
		                    <img src="images/code-window.png" alt="">
		                </div>
		                <div>
			                <h3>Clean Code</h3>
			                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Ut enim ad minim veniam, quis.</p>
		                </div>
		            </div> <!-- end col -->

		            <div class="col-sm-4">
		                <div class="features-2">
		                	<img src="images/clock.png" alt="">
		                </div>
		                <div>
			                <h3>Easy Customize</h3>
			                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Ut enim ad minim veniam.</p>
		                </div>
	                </div> <!-- end col -->

	            </div> <!-- End row -->
			</div>
		</section> 
		<!-- features -->





		<section class="content-wrap bg-light section pb0" id="features">
			<div class="container">
		        <div class="row">

		            <div class="col-sm-6">
		                <div class="feature-sec">
		                	<h3>Inbox &amp; Contact-list App</h3>
		                	<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat arcu ut orci porta, eget porttitor felis suscipit. Sed a nisl ullamcorper, tempus augue at, rutrum lacus. </p>
		                	<a href="#" class="use-btn btn-primary">Get Started</a>
		                </div>
		            </div><!-- end col -->

		            <div class="col-sm-6 featured-img">
		            	<img src="images/screen-3.png" alt="Features-img" class="img-responsive">
		            </div>

			    </div> <!-- end row -->
			</div><!-- end container -->
		</section>
		<!-- end Features -->




		<section class="section" id="pricing">
		    <div class="container">

		    	<div class="row text-center">
					<div class="col-sm-12">
						<h2 class="title">Simple Pricing</h2>
						<p class="slogan">Work on joint projects. Access time entries of your fellow team members and run reports for the entire team.</p>
					</div>
				</div>
				<!-- end row -->

		        <div class="row pt80">
		            <div class="col-md-10 col-md-offset-1">
		                <div class="row">
		                	<div class="col-sm-4">
		                		<div class="price_card text-center">
									<div class="header bg-info">
										<span class="price">$10</span>
										<span class="name">Starter Pack</span>
									</div>
									<ul class="price-features">
										<li>5 Projects</li>
										<li>1 GB Storage</li>
										<li>No Domain</li>
										<li>1 User</li>
									</ul>
									<button class="btn btn-info w-md">Sign Up</button>
								</div> <!-- end Pricing_card -->
		                	</div> <!-- end col -->

		                	<div class="col-sm-4">
		                		<div class="price_card text-center">
									<div class="header bg-pink">
										<span class="price">$20</span>
										<span class="name">Professional Pack</span>
									</div>
									<ul class="price-features">
										<li>15 Projects</li>
										<li>5 GB Storage</li>
										<li>2 Domain</li>
										<li>10 User</li>
									</ul>
									<button class="btn btn-pink w-md">Sign Up</button>
								</div>
								<span class="tip">* Most popular!</span>
		                	</div> <!-- end col -->

		                	<div class="col-sm-4">
		                		<div class="price_card text-center">
									<div class="header bg-purple">
										<span class="price">$30</span>
										<span class="name">Enterprise Pack</span>
									</div>
									<ul class="price-features">
										<li>Unlimited Projects</li>
										<li>10 GB Storage</li>
										<li>10 Domain</li>
										<li>100 User</li>
									</ul>
									<button class="btn btn-purple w-md">Sign Up</button>
								</div> <!-- end Pricing_card -->
		                	</div> <!-- end col -->
		                </div> <!-- end row -->
		            </div> <!-- end Col-10 -->
		        </div> <!-- end row -->
		    </div> <!-- end Container -->
		</section>
		<!-- END Pricing -->





		<section class="bg-light section" id="clients">
	        <div class="container">
	        	<div class="row text-center">
					<div class="col-sm-12">
						<h2 class="title">Trusted by Thousands</h2>
						<p class="slogan">Lorem ipsum dolor sit amet, consectetur adipis.</p>
						<ul class="list-inline client-list pt40">
							<li><a href="" title="Microsoft"><img src="images/clients/microsoft.png" alt="clients"></a></li>
							<li><a href="" title="Google"><img src="images/clients/google.png" alt="clients"></a></li>
							<li><a href="" title="Instagram"><img src="images/clients/instagram.png" alt="clients"></a></li>
							<li><a href="" title="Converse"><img src="images/clients/converse.png" alt="clients"></a></li>
						</ul>
					</div> <!-- end Col -->
				</div> <!-- end row -->
	        </div><!-- /End Container -->
	    </section>
	    <!-- End Clients -->





	    <footer class="footer">
	        <div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3">
						<a class="navbar-brand-footer" href="#"><img src="images/logo.png" alt="logo"></a>
                    </div>
                    <div class="col-lg-4 col-lg-offset-3 col-md-7">
                    	<ul class="nav navbar-nav">
					      	<li><a href="#how">How it works</a></li>
					        <li><a href="#features">Features</a></li>
							<li><a href="#pricing">Pricing</a></li>
							<li><a href="#clients">Clients</a></li>
					    </ul>
                    </div>
                    <div class="col-lg-2 col-md-2">
						<ul class="social-icons">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div> <!-- end row -->
			</div> <!-- end container -->
	    </footer>
	    <!-- End Footer -->




	    <!-- js placed at the end of the document so the pages load faster -->
	    <script src="stylesheets/js/jquery.min.js"></script>
	    <script src="stylesheets/js/bootstrap.min.js"></script>
	    <!-- Jquery easing -->                                                      
	    <script type="text/javascript" src="stylesheets/js/jquery.easing.1.3.min.js"></script>
	    <!-- SmoothScroll -->
	    <script src="stylesheets/js/SmoothScroll.js"></script>
	    <script type="text/javascript">
			//jQuery for page scrolling feature - requires jQuery Easing plugin
			$(function() {
			    $('.navbar-nav a').bind('click', function(event) {
			        var $anchor = $(this);
			        $('html, body').stop().animate({
			            scrollTop: $($anchor.attr('href')).offset().top - 0
			        }, 1500, 'easeInOutExpo');
			        event.preventDefault();
			    });
			});
	    </script>




	</body>
</html>